RewriteEngine On
RewriteRule "trangchu" "?act=home"
RewriteRule "recommendation" "?act=shop"
RewriteRule "shop" "?act=shop"
RewriteRule "video" "?act=video"
RewriteRule "categoris-smartphone" "?act=shop&sp=1"
RewriteRule "categoris-laptop" "?act=shop&sp=2"
RewriteRule "categoris-tablet" "?act=shop&sp=3"
RewriteRule "categoris-smartwacthes" "?act=shop&sp=4"
RewriteRule "categoris-digitalcameras" "?act=shop&sp=5"
RewriteRule "categoris-televisions" "?act=shop&sp=6"
RewriteRule "categoris-audio" "?act=shop&sp=7"
RewriteRule "([0-9]+).html$" "?act=detail&id=$1"
RewriteRule "cart" "?act=cart#txt"
RewriteRule "account" "?act=taikhoan"
RewriteRule "login" "?act=taikhoan&xuli=dangnhap"
RewriteRule "([0-9]+).php" "?act=quickView&id=$1"
RewriteRule "checkout" "?act=checkout"
RewriteRule "personal" "?act=taikhoan&xuli=account"
RewriteRule "accordions" "?act=hienthi"
RewriteRule "about" "?act=about"
RewriteRule "contact" "?act=contact"
RewriteRule "comingsoon" "?act=comingsoon"
RewriteRule "type-product-([0-9])" "./?act=shop&sp=$1"
RewriteRule "lectronics-page-([0-9])" "./?act=shop&page=$1"
RewriteRule "store" "?act=shop" 
RewriteRule "storeprice-([0-9])to([0-9])" "?act=shop&from=$1&to=$2"
RewriteRule "blogs" "?act=blogs"
RewriteRule "wishlist" "?act=wishlist"
RewriteRule "faq" "?act=faq"
